language : node_js 
node_js :  
- stable 
install:  
- npm install 
script:  
- npm run clean
- npm run build
- npm run test
after_script: "cat coverage/lcov.info | node_modules/coveralls/bin/coveralls.js"